.searchResults {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .searchResults {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

.searchResult {
  color: white;
  text-align: left;
  transition: transform 0.2s;
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-top: 150%;
}

.searchResult img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.searchResult:hover {
  transform: scale(1.05);
}

.searchResult h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.searchResult p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.stars {
  color: gold;
}

a {
  color: white;
  text-decoration: none;
}
