.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 0.2rem;
  gap: 1rem;
  overflow: hidden;
}

.searchInput {
  padding: 0.5rem;
  border: none;
  flex: 1;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
}
.searchInput::placeholder {
  color: #000;
  opacity: 0.5;
  font-style: oblique;
}
.searchButton {
  padding: 0.5rem 0.7rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #00a496;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.searchButton:hover {
  background-color: #008080;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .searchContainer {
    gap: 20rem;
  }
  .searchInput {
    height: 2.5rem;
    font-size: 1.3rem;
  }

  .searchButton {
    font-size: 1.3rem;
  }
}
